
<div class="container">
  <% @events.each do |event| %>
    <%= link_to event_path(event), class:"nounderline" do %>
      <div class="event-card">
        <div class="pic-event">
          <% if event.photo.attached? %>
            <%= cl_image_tag event.photo.key, class:"pic-event" %>
          <% else %>
            <%= image_tag "https://source.unsplash.com/200x300/?theater", class: "pic-event" %>
          <% end %>
        </div> <!-- pic event -->
        <div class="show-description">
          <h2><%= event.title %></h2>
          <div class="show-duration mb-3">
            <span><i class="far fa-clock"></i> <%= event.duration %> min</span>
            <span>  <i class="far fa-calendar-alt"></i>  Tous les samedis</span>
          </div> <!-- show  duration-->
          <div class="show-actor mb-2">
            <% if event.actors.exists? %>
              <span><i class="fas fa-theater-masks"></i> Avec <strong><%= event.actors.first.first_name %> <%= event.actors.first.last_name %> </strong> et <strong><%= event.actors.second.first_name %> <%= event.actors.second.last_name %></strong></span>
            <% end %>
          </div> <!-- show actor -->
          <div class="show-resume mb-2">
            <% if event.summary %>
              <span><i class="fas fa-film"></i>  <%= event.summary.first(40) %>... </span>
            <% end %>
          </div> <!-- show resume -->
        </div> <!-- show description -->
      </div> <!-- event card -->
    <% end %>
  <% end %> <!-- each -->
</div> <!-- container -->

<% @events.each do |event| %>
  <%= link_to  "#{event.title}", event_path(event) %>
<% end %>
