
<div class="container mt-5 show-event">
  <div class="d-flex">
    <div class="pic-show-event">
      <% if @event.photo.attached? %>
        <%= cl_image_tag @event.photo.key, class: "pic-show-event" %>
      <% else %>
         <%= image_tag "https://source.unsplash.com/200x300/?theater", class: "pic-show-event" %>
      <% end %>
    </div>
    <div class="event-description ml-5">
       <h2 class="mb-3"><%= @event.title %></h2>
        <p><i class="far fa-clock"></i> <strong>Durée : </strong><%= @event.duration %> minutes</p>
        <% if @event.actors.exists? %>
          <p><i class="fas fa-theater-masks"></i> <strong>Acteurs :  </strong> <strong> <%= @event.actors.first.first_name %> <%= @event.actors.first.last_name %> </strong> et <strong><%= @event.actors.second.first_name %> <%= @event.actors.second.last_name %></strong></p>
        <% end %>
        <p><i class="fas fa-film"></i></i> <%= @event.summary %></p>
    </div>
  </div> <!-- d flex -->
  <div class="d-flex justify-content-between mb-5">
    <%= link_to "Retour à la liste", events_path, class:"mt-5", class:"btn btn-navigation" %>
    <button class="btn btn-action">Réserver une place !</button>
  </div>

    <h2>Réserver</h2>
    <p>Choisir l'horaire</p>
    <div class="meeting w-25 mr-3 mb-3">  <!-- We will add some style to the meeting class later so let's add it now -->

      <%= link_to event_path(@event), class:"nounderline white-font" do %>
        <p><strong><%= @event.title %></strong></p>
        <span><%= @event.start_time.hour %>h<%= @event.start_time.min %> à <%= @event.end_time.hour %>h<%= @event.end_time.min %><span>
      <% end %>
    </div>
  <div class="intention-note mt-5">
    <h2>Note d'intention...</h2>
    <br>
    <p><%= @event.intention_note %></p>
  </div>
</div> <!-- container -->
