<div class="container mt-5">
  <h1 class="text-center mb-5">Bienvenue sur le site des Apaches</h1>
  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
  Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
  when an unknown printer took a galley of type and scrambled it to make a type specimen book.
  It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
  It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
  and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
</div> <!-- container -->

  <div class="image-home">
    <%= cl_image_tag "apaches/Sans-ascenseur-sample", class:"pic-main mt-5 mb-5" %>
  </div> <!-- image home -->

  <div class="spectacle">
    <div class="container">
     <h1 class="mb-5">Spectacles</h1>
    </div>
    <div class="show-board">
      <div class="event-card">
        <div class="show-pic">
          <%= cl_image_tag "apaches/affiche-ascenceur-2021", class:"pic-event" %>
        </div> <!-- show pic -->
        <div class="show-description">
          <h2 >Sans ascenceur</h2>
          <div class="show-duration mb-3">
            <span><i class="far fa-clock"></i> 120 min</span>
            <span>  <i class="far fa-calendar-alt"></i>  Tous les samedis</span>
          </div> <!-- show  duration-->
          <div class="show-actor mb-2">
            <span><i class="fas fa-theater-masks"></i> Avec <strong>Thibaud Boursier</strong> et <strong>Valentin Rolland</strong></span>
          </div> <!-- show actor -->
          <div class="show-resume mb-2">
          <span><i class="fas fa-film"></i> Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</span>
          </div> <!-- show resume -->
        </div> <!-- show description -->
      </div> <!-- event card -->

      <div class="event-card">
        <div class="show-pic">
          <%= cl_image_tag "apaches/affiche-ascenceur-2021", class:"pic-event" %>
        </div> <!-- show pic -->
        <div class="show-description">
          <h2 >Sans ascenceur</h2>
          <div class="show-duration mb-3">
            <span><i class="far fa-clock"></i> 120 min</span>
            <span>  <i class="far fa-calendar-alt"></i>  Tous les samedis</span>
          </div> <!-- show  duration-->
          <div class="show-actor mb-2">
            <span><i class="fas fa-theater-masks"></i> Avec <strong>Thibaud Boursier</strong> et <strong>Valentin Rolland</strong></span>
          </div> <!-- show actor -->
          <div class="show-resume mb-2">
          <span><i class="fas fa-film"></i> Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</span>
          </div> <!-- show resume -->
        </div> <!-- show description -->
      </div> <!-- event card -->

      <div class="event-card">
        <div class="show-pic">
          <%= cl_image_tag "apaches/affiche-ascenceur-2021", class:"pic-event" %>
        </div> <!-- show pic -->
        <div class="show-description">
          <h2 >Sans ascenceur</h2>
          <div class="show-duration mb-3">
            <span><i class="far fa-clock"></i> 120 min</span>
            <span>  <i class="far fa-calendar-alt"></i>  Tous les samedis</span>
          </div> <!-- show  duration-->
          <div class="show-actor mb-2">
            <span><i class="fas fa-theater-masks"></i> Avec <strong>Thibaud Boursier</strong> et <strong>Valentin Rolland</strong></span>
          </div> <!-- show actor -->
          <div class="show-resume mb-2">
          <span><i class="fas fa-film"></i> Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</span>
          </div> <!-- show resume -->
        </div> <!-- show description -->
      </div> <!-- event card -->

      <div class="event-card">
        <div class="show-pic">
          <%= cl_image_tag "apaches/affiche-ascenceur-2021", class:"pic-event" %>
        </div> <!-- show pic -->
        <div class="show-description">
          <h2 >Sans ascenceur</h2>
          <div class="show-duration mb-3">
            <span><i class="far fa-clock"></i> 120 min</span>
            <span>  <i class="far fa-calendar-alt"></i>  Tous les samedis</span>
          </div> <!-- show  duration-->
          <div class="show-actor mb-2">
            <span><i class="fas fa-theater-masks"></i> Avec <strong>Thibaud Boursier</strong> et <strong>Valentin Rolland</strong></span>
          </div> <!-- show actor -->
          <div class="show-resume mb-2">
          <span><i class="fas fa-film"></i> Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</span>
          </div> <!-- show resume -->
        </div> <!-- show description -->
      </div> <!-- event card -->

      <div class="event-card">
        <div class="show-pic">
          <%= cl_image_tag "apaches/affiche-ascenceur-2021", class:"pic-event" %>
        </div> <!-- show pic -->
        <div class="show-description">
          <h2 >Sans ascenceur</h2>
          <div class="show-duration mb-3">
            <span><i class="far fa-clock"></i> 120 min</span>
            <span>  <i class="far fa-calendar-alt"></i>  Tous les samedis</span>
          </div> <!-- show  duration-->
          <div class="show-actor mb-2">
            <span><i class="fas fa-theater-masks"></i> Avec <strong>Thibaud Boursier</strong> et <strong>Valentin Rolland</strong></span>
          </div> <!-- show actor -->
          <div class="show-resume mb-2">
          <span><i class="fas fa-film"></i> Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</span>
          </div> <!-- show resume -->
        </div> <!-- show description -->
      </div> <!-- event card -->

      <div class="event-card">
        <div class="show-pic">
          <%= cl_image_tag "apaches/affiche-ascenceur-2021", class:"pic-event" %>
        </div> <!-- show pic -->
        <div class="show-description">
          <h2 >Sans ascenceur</h2>
          <div class="show-duration mb-3">
            <span><i class="far fa-clock"></i> 120 min</span>
            <span>  <i class="far fa-calendar-alt"></i>  Tous les samedis</span>
          </div> <!-- show  duration-->
          <div class="show-actor mb-2">
            <span><i class="fas fa-theater-masks"></i> Avec <strong>Thibaud Boursier</strong> et <strong>Valentin Rolland</strong></span>
          </div> <!-- show actor -->
          <div class="show-resume mb-2">
          <span><i class="fas fa-film"></i> Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</span>
          </div> <!-- show resume -->
        </div> <!-- show description -->
      </div> <!-- event card -->


    </div> <!-- show board for vertical scrolling -->
  </div> <!-- spectacle -->

  <div class="image-home">
    <%= cl_image_tag "apaches/logo_apaches_1236x1080", class:"pic-main-2 mt-5 mb-5" %>
  </div> <!-- image home -->

  <div class="actors container mt-5">
    <h1 class="mb-5">Les (grands) acteurs d'Apaches...</h1>

    <div class="actor-card-home">
      <div class="pic-actor-1">
        <%= cl_image_tag "apaches/profil-pic-thibaud-C-Dan_Ramaen", class:"pic-actor-1"%>
      </div> <!--pic actor 1-->
      <div class="actor-description">
        <h3>Thibaud Boursier</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        </p>
      </div> <!-- actor description -->
    </div> <!-- actor card home -->

    <div class="actor-card-home">
      <div class="actor-description">
        <h3>Valentin Rolland</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        </p>
      </div> <!-- actor description -->
      <div class="pic-actor-1">
        <%= cl_image_tag "apaches/profil-pic-valentin", class:"pic-actor-1"%>
      </div> <!--pic actor 1-->
    </div> <!-- actor card home -->

    <div class="actor-card-home">
      <div class="pic-actor-1">
        <%= cl_image_tag "apaches/profil-pic-charlie", class:"pic-actor-1"%>
      </div> <!--pic actor 1-->
      <div class="actor-description">
        <h3>Charlie Bertrand</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        </p>
      </div> <!-- actor description -->
    </div> <!-- actor card home -->
  </div> <!--actors container mt-5 -->

<br><br><br><br>






