<div class="container">
  <h1>Ajouter des acteurs à <%= @event.title %></h1>

  <%= simple_form_for [@event, @actorevent] do |f| %>
    <div class="form-inputs">
      <%= f.association :actor,
          label_method: :first_name,
          collection: Actor.order(:first_name) %>
      <%= f.input :photo, as: :file, label: "Choisir une nouvelle photo (200x300)" %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, class: 'btn btn-flat mb-5' %>
    </div>
  <% end %>
</div>
